<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/icon/logo.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= @pagename %></title>
  </head>
  <body>


    <div id="page_message">
      <p>
        <%= @page_message %>
      </p>
    </div>

    <%= yield %>

    <p>&copy; 2018 HEP!</p>
    <a href="https://github.com/HidetoNakasone/sinatra-sample-MyWork">View Source</a>
    <br>
    <br>

    <div id="logo">
      <img src="/imgs/logo.png" alt="logo-image">
    </div>

  </body>
</html>
