
<h1 id="title">アカウント作成</h1>

<form action="/signup" method="post">
  <input type="text" name="signup_name" placeholder="New Name" required>
  <input type="password" name="signup_pass" placeholder="New Password" required>
  <br>
  <input type="submit" value="Signup">
</form>

<br>
<br>
<div id="anime_1">
  <a id="link_style" href="/login">Move to Login</a>
</div>
<br>
<br>
